<div class="contianer">
  <nav class="navigation">
    <ul>
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      <li>{{#link-to 'colours'}}Colours{{/link-to}}</li>
    </ul>
  </nav>
  <div class="content">
    {{outlet}}
  </div>
</div>
